<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeLeaf-extras-springsecutity5"
      lang="en">
    <head>
        <title></title>
        
    </head>
    <body>
        <div th:fragment="contact">
            <div id="contactus"></div>
                <!-- contact -->
                <div class="container-fluid" style="background-color: #00AFB5; padding-bottom: 10%;">
                    <div class="row pt-5">
                        <div class="col text-center">
                            <h2 class="text-light">Custom Quote?, We would love to help you.</h2>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6 border-right float-right">
                            <img class="float-right" src="images/telephone.png" alt="contctbook"></img>
                        </div>
                        
                        <div class="col">
                        
                            <div class="row">
                                <div class="col text-left">
                                    <ul class="nobullets">
                                        <li>
                                            <img src="images/email.png" alt="" class="pk-icon"></img>
                                            <a class="tz-24 text-light" href="mailto:patelyash1311@gmail.com">patelyash1311@gmail.com</a>
                                        </li>
                                        <li> 
                                            <img src="images/location.png" alt="" class="pk-icon"></img>
                                            <a class="tz-24 text-light" href="https://www.google.com/maps/place/Binghamton,+NY/@42.1018768,-75.9386058,13z/data=!3m1!4b1!4m5!3m4!1s0x89daef72dfadb7d1:0x68f9703f7ed337f!8m2!3d42.0986867!4d-75.9179738">Binghamton, NY</a>
                                        </li>
                                        <li></li>
                                        <li></li>
                                        
                                    </ul>
                                    
                                    
                                    
                                    
                                    <br/>
                                   
                                </div>
                            </div>
                       </div>
                        
                    </div>
                </div>
        </div>
    </body>
</html>
