<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeLeaf-extras-springsecutity5" lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="hero">
                <!-- hero content -->
            <div class="container-fluid hero-image">

                <div class="row pt-15p">

                    <div class="col-lg-6 text-center my-auto text-light">
                        
                            <h1 class="font-wight-bold" style="font-family: Helvetica;">Pickeliver</h1>
                            <p>Permium Pickup and Delivery service</p>
                       
                    </div>

                    <!-- forms -->
                    <div class="col-lg-4">

                        <div class="row">
                            <div class="col">
                                <h2 class="text-light">Get Your Quote</h2>
                            </div>
                        </div>



                        <form action="/pkorder" method="POST" class="p-3 bg-light rounded">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div class="form-group">
                                <label for="source">From</label>
                                <input th:field="${pkorder.source}" type="text" class="form-control" id="source" aria-describedby="source"
                                    placeholder="Origin address">
                            </div>
                            <div class="form-group">
                                <label for="destination">To</label>
                                <input th:field="${pkorder.destination}" type="text" class="form-control" id="destination" placeholder="Destination address">
                            </div>

                            <div class="form-group">
                                <label for="servicetype"> Service type</label>
                                <select th:field="*{pkorder.jobType}" class="custom-select">
                                    <option selected value="Custom Service">Custom Service</option>
                                    <option value="Restaurant Delivery">Restaurant Delivery</option>
                                    <option value="Moving Stuff">Moving Stuff</option>
                                    <option value="UPS/USPS Pickup">UPS/USPS Pickup</option>
                                </select>
                            </div>


                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </body>
</html>
